body {
    background-color: #111;
    color: #ffffff;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
  }

  .krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
h1{
      border-style: groove;
      border-width: 5px;
      border-color: crimson;
      padding: 5px;
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
}

h1{
  padding: 20px;
  border: 4px solid transparent;
  border-image: linear-gradient(to right, crimson, orange) 1;
  box-shadow: 0 0 15px rgba(255, 165, 0, 0.8);
}

h2 {
  border-bottom: groove;
  border-width: 5px;
  border-color: crimson;
}

.cities .city-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  padding: 20px;
}

.cities .city-list li {
  margin: 10px;
  text-align: center;
  font-size: 17px;
  width: 180px;
}

.cities img {
  max-width: 180%;
  height: auto; 
  border: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(255, 255, 255), rgb(144, 0, 0)) 1;
  box-shadow: 0 0 15px rgb(255, 255, 255);
}

.food img{
  border: 1px solid darkorange;
  box-shadow: 0 0 15px rgb(255, 145, 0);
}

.game-recs img {
  padding: 20px;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(242, 242, 223), yellow) 1;
  box-shadow: 0 0 15px rgb(255, 230, 0);
  max-width: 150px;
  margin: 10px; 
}

.game-recs .game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-recs figure {
  margin: 50px;
  text-align: center;
  font-size: 15px;
  width: 200px; 
}

.game-recs img {
  max-width: 75%;
  height: auto;
}

a {
  text-decoration: none;
}